@import url("./styles/header.css");
@import url("./styles/apresention.css");
@import url("./styles/noticias.css");
@import url("./styles/card.css");
@import url("./styles/rodape.css");
@import url("./styles/tv.css");
@import url("./styles/whatsapp.css");

:root{
    --cor-de-fundo-01: #ebecee;
    --cor-de-fundo-02: #fffefb;
    --branco: #ffffff;
    --branco-ligth: #feffff;
    --blue-main: #1a3493;
    --yellow-button:#fde30a;
    --texto-button: #886c00;
    --texto-menu: #002f52;
    --texto-01: #868580;
    --texto-02: #111111;
    --back-dark:rgba(87, 83, 83, 0.58);
    --menu:#002f52;
    --fonte-main: "Montserrat", sans-serif;
    --fonte-secundario: "Whisper";

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-main);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}
@media screen and (min-width:1280px) {
    body{
        /* background-color: var(--blue-main); */
    }
}